
/* Global: */
html, body {
  background: #ababab;
  color: #000000;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
	font-family: source-han-serif-sc, serif;
	font-weight: 900;
	font-style: normal;
}
h1 {
	margin: 1rem;
	font-size: 4vw;
	letter-spacing: 1vw;
}
h2 {
	font-size: 4vw;
	margin: 0;
}
h3 {
	margin-top: 0;
	font-size: 3vw;
}
.container {
  height: 80vh;
	width: 66%;
	display: grid;
	grid-template-columns: 13% auto 13%;
	grid-template-areas:
    "xialian . shanglian";
	margin: auto;
}
.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
	width: 28vw;
	z-index: 8;
}
.top, .right, .left {
	background-color: #d82727;
	text-align: center;
	box-shadow: 0px 0px 1vw black;
}
.top {
	width: 30vw;
	margin: 5vw auto 3vw auto;
  display: grid;
  justify-content: center;
	align-items: center;
}
.right, .left {
	display: inline-block;
}
.right {
	grid-area: shanglian;
	display: grid;
	justify-content: center;
	align-items: center;
  height: 70vh;
}
.left {
	grid-area: xialian;
	display: grid;
  justify-content: center;
	align-items: center;
  height: 70vh;
}
img {
  display: block;
}
::selection {
	background: #ffed46;
	color: black;
}

/* Media Query */
@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1180px) {

}

@media only screen and (max-width: 540px) {
	.container {
    width: 82%;
		display: grid;
		grid-template-columns: 20% auto 20%;
		margin: 0 auto;
	}
}
